* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: arial;
    margin: 0;
}
.note {
    background: yellow;
    padding: 5px;
}
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}
.navbar {
    display: flex;
    background: #333;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  .navbar a:hover {
      background: #f1f1f1f1;
      color: #333;
  }