* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: flex-end;
}
.nav {
    list-style: none;
    display: flex;
    padding-right: 80px;
}
.nav-list {
    padding: 20px 20px; 
}
.nav-item {
    text-decoration: none;
    color: #000;
}
.tab-apps {
    padding-top: 19px;
}
.button-sign {
    width: 65px;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
    background:#4386fa;
    color:#ffff;
    border: none;
    outline: none;
    cursor:pointer;
}
.fa-th {
    color: rgb(83, 81, 81);
}
.main {
    width: 600px;
    height:450px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}
.gogl {
    display: flex;
    justify-content: center;
}
.img-gogl {
    width: 272px;
    height: 92px;
}
.search {
    display: flex;
    justify-content: center;
}
.search1 {
    width: 500px;
    height: 35px;
    border-radius: 15px;
    border:none;
    outline: none;
    padding: 0 10px;
    background: #f1f1f1f1;
}
.fa-microphone {
    line-height: 35px;
    position: absolute;
    margin-left: 230px;   
}
.article {
    width: 100%;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bookmarks{
    
    width: 112px;
    height: 114px;
    border: none;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.logo-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #f1f1f1f1;
}
.fblogo {
    font-size: 24px;
    color:#3C5A99;
}
.text {
    padding-top: 5px;
    color: #333;
}
.bookmarks:hover {
    background: #f1f1f1f1;
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.foot-settings {
    display: flex;
    align-items: flex-start;
    margin-top: -150px;
}
.fa-cog {
    padding-right: 50px;
    cursor: pointer;
}